@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.jetbrains-mono-medium {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: "medium";
	font-style: normal;
}

.jetbrains-mono-regular {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: "normal";
	font-style: normal;
}

.jetbrains-mono-light {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: "light";
	font-style: normal;
}

.jetbrains-mono-semibold {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: "semibold";
	font-style: normal;
}

.jetbrains-mono-bold {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: "bold";
	font-style: normal;
}

.jetbrains-mono-italic {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: "normal";
	font-style: italic;
}
